{% extends 'base.html' %}
{% load mptt_tags %}

{% block title %}
  {{ thread.name }} : {{ thread.forum.name }}
{% endblock %}

{% block content %}
  <h1>{{ thread.name }}</h1>
  <p>{{ thread.description }}</p>
  <a href="{% url 'forum:thread_reply' thread.forum.forum_slug thread.thread_slug %}">Reply to Thread</a>
  <ul>
    {% recursetree thread_posts %}
        <li>
          {{ node.text }}
          <a href="{% url 'forum:post_reply' thread.forum.forum_slug thread.thread_slug node.post_id %}">Reply</a>
          {% if not node.is_leaf_node %}
              <ul class="children">
                  {{ children }}
              </ul>
          {% endif %}
        </li>
    {% endrecursetree %}
  </ul>
{% endblock %}
